.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Inter', system-ui, sans-serif;
}

.canvasWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}