* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(rgba(26, 110, 160, 0.8), rgba(26, 110, 160, 0.8)),
    url('/assets/png/default/tiles/tile_73.png');
  background-repeat: repeat;
}